@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pixelify+Sans&family=Urbanist:wght@100&display=swap');

 *{
    font-family: 'Urbanist', sans-serif;
box-sizing: border-box;
margin: 0px;    
color: white;
 }

 :root{
    --gray:rgb(177,177,177);
 }
 body{
    background-color: black;
 }
 .topnav{
    float: right;
 }
 .topnav a{
    font-size: 25px;
    text-decoration:none;
    display: none;
 }
 .topnav a.icon{
    margin:30px;
    float: right;
    display: block;
    width:auto;
 }

 .dot{
    font-family: 'Monoton', cursive;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 1px;
    float: left;

 }
 .topnav.responsive{
    display:inline-block;
    width: 300px;
    position: relative;
    z-index: 1;
    background-color:rgba(0,0,0,0.633);
 }
 .topnav.responsive a{
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 20px;
 }
 .topnav.responsive .icon{
    position: absolute;
    right: 0px;
    margin: 10px;

 }
 button {
   font-size: 1rem;
   padding: 0.3rem 1rem;
   font-weight: bold;
   color: white;
   background: linear-gradient(to right, #987b80, #116789);
   border-radius: 20px;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   cursor: pointer;
   position: absolute;
   top: 70px;
   right: 16px;
   
 }
 .logo h1{
   position: absolute;
   font-size: 25px;
   margin: 20px;
   font-family: 'Monoton', cursive;
}
 button:hover {
   background: rgb(255, 255, 255);
   outline: 1px solid rgb(227, 232, 235);
   color: #050505;
   border: none;
 }

.topnav.responsive .icon .dot:nth-child(1),.topnav.responsive .icon .dot:nth-child(2),
.topnav.responsive .icon .dot:nth-child(3){
    margin-left:5px;
    transition: all 0.6s;
    background-color: var(--gray);
}
.topnav.responsive a:hover{
    font-family: 'Pixelify Sans', cursive;
    color:white;
}
.loading-box{
    margin-top:350px;
    width: 10%;
    position: absolute;
    margin-left: 45%;
    text-align: center;
    font-size: 25px;
    animation:remove 18s ;
    opacity: 0;

}
@keyframes remove {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    15%{
        opacity: 1;
    }
    16%{
        opacity: 0;
    }
    
    
}

.top-photos{
   text-align: center;
   margin-top:300px;
   position: absolute;
   width: 80%;
   margin-left: 10%;
   z-index: 1;
}
.top-photos img{
    height:300px;
    transform: rotate3d(-285, 85, 30, 90deg);

}
.top-photos img:nth-child(1), .top-photos img:nth-child(2), .top-photos img:nth-child(3){
   opacity:0;
   animation: reveal 6.5s;
   animation-delay: 1s;
}
.top-photos img:nth-child(2){
   animation-delay: 2s;
}
.top-photos img:nth-child(3){
   animation-delay: 3s;
}
@keyframes reveal {
   0%{
      opacity: 0;
      
  }
  30%{
      opacity: 0;
      transform: rotate3d(-285, 85, 30, 90deg);

  }
  45%{
      opacity: 1;
      transform: none;
  }
  90%{
      opacity: 1;
      transform: none;
  }

}
.title-tops{
   margin-top:300px;
   position: absolute;
   width: 80%;
   margin-left:10%; 
   animation: show 15s;
   opacity: 1; 

}
.title h1{
   font-size:90px ;
   font-family: 'Monoton', cursive;
   animation: show 15s;
   animation-delay: 0s;
   z-index: 1;
   opacity: 1;
      position: absolute;
      top: 50%;
      left: 7%;
      
}
.subtitle{
   font-size: 25px;
   animation: show 17s;
   animation-delay: 0s;
   opacity: 1;
   position: absolute;
   top: 70%;
   left: 44%;
   
}
@keyframes show {
   0%{
      opacity: 0;
  }
  69%{
      opacity: 0;
      transform: rotate3d(-285, 85, 30, 90deg);

  }
  70%{
      opacity: 1;
      transform: rotate3d(-285, 85, 30, 90deg);
  }
  80%{
      opacity: 1;
      transform: none;
  }  
}

.top{
   height: 750px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0,0,0,0.688)),
   url(./forhtml.jpg);
   background-size: cover ;
   animation: showing 13.6s;
   animation-delay: 0s;
}
@keyframes showing {
   0%{
      height: 750px;
      background: linear-gradient(rgba(0, 0, 0),rgba(0, 0, 0)),
      url(./forhtml.jpg);
      background-size: cover ;
   }
   80%{
      height: 750px;
      background: linear-gradient(rgba(0, 0, 0),rgba(0, 0, 0)),
      url(./forhtml.jpg);
      background-size: cover ;
   }
   100%{
      height: 750px;
      background: linear-gradient(rgba(0, 0, 0, 0.919),rgba(0,0,0,0.688)),
      url(./forhtml.jpg);
      background-size: cover ;

   }
   
}
.about{
   background: linear-gradient(rgba(28, 26, 26, 0.919),rgba(55, 49, 49, 0.914)),
   url(./travel\ trail.jpg);
   height: 1100px;
   background-size:cover ;
}
.about h1{
   font-size: 60px;
   font-family: 'Pixelify Sans', cursive;
   margin: -25px;
   cursor: pointer;

}
.about p{
   text-size-adjust: 30px;
   text-align: center;
   padding: 300;
   line-height: 50px;
   font-size: 25px;
   text-align: justify;
   position: absolute;
  left: 10%;
   
}
.travel{
   background-image: linear-gradient(rgba(0, 0, 0, 0.562),rgba(0,0,0,0.688)),
   url(./travel\ 1.jpg);
   height: 650px;
   background-size:cover ;
}
.travel p{
   color: var(--gray);
   padding: 150px;
   font-size: 120px;
   text-align: center;
}
.travel spam{
   font-family: 'Monoton',cursive;
   color: white;
}
.socialmedia{
   background-image: -moz-linear-gradient(rgba(59, 52, 52, 0.95)),
   url(./joshua-sortino-utwkwDuGr1o-unsplash.jpg);
   background-size: cover;
}
.socialmedia .section{
   height: 370px;
   float: left;
   width: 33.33%;
   cursor: pointer;
}
.socialmedia .container{
   height:260px;
   overflow:hidden;

}
.socialmedia .container img{
   width: 50%;
   height: auto;

}