@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Pixelify+Sans&family=Urbanist:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:sans-serif ;
}
.hero{
    position: relative;
    width: 100%;
    height:4vh;
    background: white;

}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center; 
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px ;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

nav ul li a:hover{
    color:red;

}
.detel{
    margin-left:5% ;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color:#212121;
    margin-bottom: 230px;
}
samp{
    color: rgb(233, 146, 7);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold ;
    color:#fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
  bottom: 0px;
  right: 0%;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom:0 ;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .shape{
     bottom: 40px;
}
.images:hover .boy{
    left: 100px;
}
.images .shape{
    position: absolute;
  bottom: 0px;
  right: 16px;
}
.about{
    height: 400px;
    background-size:cover ;
    margin: px;
.about h1{
    font-size: 60px;
    font-family: 'Pixelify Sans', cursive;
    margin: 100px;
    cursor: pointer;
 
 }
 .about p{
    font-family: 'Monoton', cursive;
    text-size-adjust: 30px;
    text-align: center;
    padding: 300;
    line-height: 50px;
    font-size: 25px;
    text-align: justify;
    position: absolute;
   left: 10%;
    
 }
 
 